body {
	background-image: url(../statique/image/EtoilesBg.png), linear-gradient(-45deg, rgba(24, 72, 125, 0.5), rgba(15, 16, 29, 0.2), rgba(33, 20, 57, 0.5));
}



main {
	grid-area: 2 / span 5 / 2 / 13;
	grid-template: 1fr 1fr / repeat(5, 75px);
	column-gap: 15px;
	text-align: end;
}

#content {
	grid-area: 1 / 1 / 1 / span 5;
}

.attribut {
	display: flex;
	justify-content: end;
}

.attribut h2 {
	color: #C6C6C6;
	position: relative;
	top: -10px;
}

h2:not(.noir) {
	text-transform: uppercase;
	width: 100%;
	text-align: end;
}

.noir {
	width: 165px;
	background-color: #0F101D;
	border-radius: 8px;
	padding: 2px 8px;

	text-align: center;
	text-transform: capitalize !important;
}

#etoile .noir {
	width: 255px !important;
}

.boutons {
	grid-area: 2 / 1 / 2 / span 5;
	gap: 15px;
	display: flex;
	justify-content: end;
}

button:focus {
	border: white 3px solid;
}

button:hover h4 {
	opacity: 0.5; /* C #C6C6C6 mais avec l'opacité à 0.5 */
}

.acheter {
	padding: 0;
	margin: 0;
	border: 0;
	height: 50px;
	width: 165px;
	border-radius: 10px;
	text-align: center;
}

.vendre {
	padding: 0;
	margin: 0;
	border: 0;
	height: 50px;
	width: 165px;
	border-radius: 10px;
	text-align: center;
}

.bouton-main {
	width: 165px;
	height: 50px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
}

.acheter .bouton-main {
	color: #C6C6C6;
	background-color: #0F101D;
}

.vendre .bouton-main {
	color: #0F101D;
	background-color: #C6C6C6;
}

.vendre h4 {
	color: #0F101D;
}

.btnDesactive {
	pointer-events: none;
	cursor: pointer;
	opacity: 50%;
}

.prct {
  width: 225px !important;
  display: flex;
  justify-content: end;
}

.acheter.prct {
  background-color: #C6C6C6;
  border: 5px black solid;
}

.prct .bouton-main {
  position: relative;
  top: -5px;
  right: -5px;
}

.vendre.prct {
  background-color: #C6C6C6;
  border: 5px #C6C6C6 solid;
}