#bg {
	background-image: url(../statique/image/EtoilesBg.png), linear-gradient(-45deg, rgba(24, 72, 125, 0.5), rgba(15, 16, 29, 0.2), rgba(33, 20, 57, 0.5));
	background-blend-mode: lighten;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 0.3;
}



main {
	grid-area: 2 / span 6 / 2 / 13;
	grid-template: 1fr 1fr / repeat(6, 75px);
	column-gap: 15px;
	text-align: end;
}

#content {
	grid-area: 1 / 1 / 1 / span 6;
	background-color: rgba(0, 0, 0, 0.35);
	padding: 10px;
}

.attribut {
	display: flex;
	justify-content: end;
}

.attribut h2 {
	color: #C6C6C6;
	position: relative;
	top: -10px;
}

h2:not(.noir) {
	text-transform: uppercase;
	width: 100%;
	text-align: end;
}

.noir {
	width: 165px;
	background-color: #0F101D;
	border-radius: 8px;
	padding: 2px 8px;

	text-align: center;
	text-transform: capitalize !important;
}

#etoile .noir {
	width: 255px !important;
}

.boutons {
	grid-area: 2 / 1 / 2 / span 6;
	gap: 15px;
	display: flex;
	justify-content: end;
}

form.prct {
	width: 255px !important;
	height: 50px;
	display: flex;
	justify-content: end;
	flex-flow: row nowrap;
	background-color: rgba(198, 198, 198, 0.2);
	border: white 5px solid;
	border-radius: 10px;
	box-sizing: border-box;
}

form.btnTransac {
	width: 165px;
	height: 50px;
	box-sizing: border-box;
}

form.btnTransac:not(.prct) input#prct {
	display: none;
}

input[type="submit"].acheter {
	color: #0F101D;
	border-color: rgba(15, 16, 29, 0.5) !important;
	background-color: #C6C6C6;
}

input[type="submit"].acheter:hover {
	color: rgba(15, 16, 29, 0.5);
	border-color: rgba(15, 16, 29, 0.5);
}

input[type="submit"].vendre {
	color: #C6C6C6;
	border-color: rgba(198, 198, 198, 0.5) !important;
	background-color: #0F101D;
}

input[type="submit"].vendre:hover {
	color: rgba(198, 198, 198, 0.5);
	border-color: rgba(198, 198, 198, 0.5);
}

form.prct input[type="submit"] {
	position: relative;
	top: -5px;
	right: -5px;
}

input[type="submit"] {
	text-transform: uppercase;
	text-align: center;
	width: 165px;
	height: 50px;
	border-radius: 8px;
	color: #0F101D;
	font-size: 1.618rem;
	font-weight: 600;
	border: 0;
	box-sizing: border-box;
}

input[type="submit"]:focus {
	border: 5px solid;
	box-sizing: border-box;
}

.btnDesactive {
	pointer-events: none;
	cursor: pointer;
	opacity: 50%;
}

input#prct {
	font-size: 1rem;
	font-weight: 600;
	background: none;
	color: #C6C6C6;
	text-align: center;

	width: 82px;
	padding: 0;
	margin-right: -3px;
	border: none;
}

/* 
button.acheter:focus .bouton-main {
	border: white 5px solid;
	box-sizing: border-box;
}

button.vendre:focus .bouton-main {
	border: #0F101D 5px solid;
	box-sizing: border-box;
}

button .bouton-main:hover h4 {
	opacity: 0.5;
	// C #C6C6C6 mais avec l'opacité à 0.5
}

.acheter {
	padding: 0;
	margin: 0;
	border: 0;
	height: 50px;
	width: 165px;
	border-radius: 10px;
	text-align: center;
}

.vendre {
	padding: 0;
	margin: 0;
	border: 0;
	height: 50px;
	width: 165px;
	border-radius: 10px;
	text-align: center;
}

.bouton-main {
	width: 165px;
	height: 50px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
}

.acheter .bouton-main {
	color: #C6C6C6;
	background-color: #0F101D;
}

.vendre .bouton-main {
	color: #0F101D;
	background-color: #C6C6C6;
}

.vendre h4 {
	color: #0F101D;
}



.prct {
	width: 255px !important;
	display: flex;
	justify-content: end;
	background-color: rgba(198, 198, 198, 0.2);
}

.prct.acheter:focus .bouton-main {
	border: 5px #C6C6C6 solid;
}

.prct.vendre:focus .bouton-main {
	border: 5px #0F101D solid;
}

.prct:focus .bouton-main {
	top: -5px;
}

.prct, .prct:focus {
	border: 5px white solid;
}



.prct .bouton-main {
	position: relative;
	top: -5px;
	right: -5px;
	box-sizing: border-box;
} */