body {
	background-image: url(../statique/image/EtoilesBg.png), linear-gradient(-45deg, rgba(24, 72, 125, 0.5), rgba(15, 16, 29, 0.2), rgba(33, 20, 57, 0.5));
}

main {	
	grid-template-rows: 16vh 40px 1fr 40px 1fr;
	/* 1fr = 1 divisé par le nombre total de 1fr; ici 1fr = 1/3 de l'espace disponible*/
}

/* J'ai enlevé ce qui était en double parce que la majorité est déjà écrit dans police.css qui est importé sur tt les pages*/
h4 {
	text-align: center;
}



/* ici tu pourrais directement utilisé h1 pk ce fichier css est utilisé que pour cette page*/
#boutique {
	grid-column-start: 1;
	grid-column-end: 13;


	grid-row-start: 1;
	grid-row-end: 1;
}


#planete {
	grid-area: 2 / 1 / 2 / 13;
}

#etoile {
	grid-area: 4 / 1 / 4 / 13;
}




#allCasesP {
	display: flex;
	gap: 15px;

	flex-flow: row nowrap;
	width: min-content;
}

#allCasesE {
	display: flex;
	justify-content: center;
	gap: 15px;

	flex-flow: row nowrap;
	width: min-content;
}

.case {
	background: #0C264E;
	border-radius: 32px;
	width: 165px;
	height: 150px;
}

.scroll {
	overflow-x: scroll;
	min-height: 150px;
	height: min-content;
	padding: 5px 0;
	box-sizing: border-box;
}



#scrollP {
	grid-area: 3 / 1 / 3 / 13;
}


#scrollE {
	grid-area: 5 / 1 / 5 / 13;
}