body {
    background-image: url(../statique/image/EtoilesBg.png), url(../statique/image/LUNE.jpg), linear-gradient(-45deg, rgba(24, 72, 125, 0.5), rgba(15, 16, 29, 0.2), rgba(33, 20, 57, 0.5));
    background-size: 134%;
    background-position-x: 50%;
    background-position-y: bottom;
}

#bgHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: rgba(20, 17, 43,0.1);
    padding: 20px;
    box-sizing: border-box;
    border: 0;
    z-index: -1;
}

main>h1 {
    margin: 0 0 20px 0;
    height: min-content;
    grid-area: 1 / 1 / span 1 / span 7;
}

main>div:nth-child(2) {
    grid-area: 2 / 1 / 2 / span 5;
    margin-top: 7vh;
}

main>div:nth-child(3) {
    /*on prend le 3e element de main sachant que ça doit être un div*/
    grid-area: 3 / 6 / span 1 / span 6;
    /* et on le met sur la ligne 2 en l'étendant sur 1 ligne et sur la colonne 6 en l'étendant sur 6 colonnes*/
}

main {
    grid-template-rows: min-content 3fr 1fr;
    margin-top: 7vh;
}